body {
    background: linear-gradient(to bottom right, purple, blue);
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px; /* Set the max width for the form */
    margin: 20px auto;
    
    
  }
  
  .form-input {
    padding: 8px;
    margin-bottom: 10px; /* Space between each input */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensures all inputs are full width of the form container */
  }
  
  .form-textarea {
    height: 100px; /* Set the height for the textarea */
  }
  
  .form-button {
    padding: 10px 22px;
    margin-left: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* A little hover effect for the button */
    &:hover {
      background-color: #0056b3;
    }
  }
  